* {
  font-family: 'Maven Pro', sans-serif;
}

#logo {
  margin-top: 8%;
  margin-left: 8%;
}

#boton {
  background-color: #E9B0BF;
  transition: .5s;
  border-color: #E9B0BF;
  color: black;
  font-weight: bold;
}
#boton:hover {
  background-color: #DF8BA2;
}

label {
  font-weight: bold;
}

footer {
color: #9C8EAA;
}

.caja:hover {
  background-color: #DEE7E6;
  cursor: pointer;
}
